{% extends 'base.html.twig' %}
{% block title %} Profile {% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">

            <div class="card" style="border-radius: 15px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                        <img src="{{ asset('assets/img/undraw_profile.svg') }}"
                             class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">{{ app.user.name }}</h4>
                    <p class="text-muted mb-4">{{ app.user.email }}</p>

                    <a href="{{ path('profile_edit') }}" class="text-white text-decoration-none btn btn-primary btn-rounded btn-lg">
                        Message now
                    </a>

                    <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div>
                            <p class="mb-2 h5">ROLE</p>
                            <p class="text-muted mb-0">{{ app.user.role.readable }}</p>
                        </div>
                        <div class="px-3">
                            <p class="mb-2 h5">2FA</p>
                            <p class="text-muted mb-0">
                                {% if app.user.enable2fa %}
                                    <span class="badge badge-primary">Enabled</span>
                                {% else %}
                                    <span class="badge badge-danger">Disabled</span>
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p class="mb-2 h5">Bio Metrics</p>
                            <p class="text-muted mb-0">
                                {% if app.user.enableBioMetricsFor2fa %}
                                    <span class="badge badge-primary">Enabled</span>
                                {% else %}
                                    <span class="badge badge-danger">Disabled</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}