<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/font/all.min.css') }}">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/sb-admin-2.min.css') }}">
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('assets/js/sb-admin-2.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body id="page-top">
    {% if app.user is not empty %}
        <div id="wrapper">
            {% include 'common/sidebar.html.twig' %}
            <div id="content-wrapper" class="d-flex flex-column">

                <div id="content">
                    {% include 'common/navbar.html.twig' %}
                    <div class="container-fluid">
                        {% include 'common/messages.html.twig' %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% block login %}
        {% endblock %}
    {% endif %}


    </body>
</html>
